* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* marker */

.intro-title {
  font-weight: 800;
}

.marker {
  position: relative;
  display: inline-block;
  width: auto;
} 

.marker:after {
  content: "";
  position: absolute;
  width: 130px; 
  height: 30px; 
  bottom: -30px; 
  left: 90%;
  transform: translateX(-50%);
  background-image: url("../images/marker.svg");
  background-repeat: no-repeat;
}

@media (max-width: 575.98px) {
  .marker {
    padding-right: 0;
  }
  .marker:after {
    bottom: -30px;
    left: 50%;
    margin-left: -60px;
  }
}

.marker-center {
  padding-right: 0;
}

.marker-center:after {
  bottom: -30px;
  left: 50%;
  margin-left: auto;
}
